
<script type="text/javascript" src="http://localhost:3000/widgets.js"></script>
        
        <style type="text/css">
          .customCSSclass a{text-decoration:none;}
        </style>


<div id="front_sell" class="span-24 last">
      <div  class="span-12 ">
        
            <h1 class="noice">myk . is</h1>
            <p  class="noice_describtion">
            Don't mess with climate - shorten your url's
            </p>
			
            myk . is is norwegian for soft . ice
      
      <p>
      <br/><br/>
      <% remote_form_for (@mykurl) do |f| %>
          <%= f.error_messages %>
          <%=f.label :url%><br/>
          <%=f.text_field :url,:class=>"text" %>
          <%=f.submit "Shorten"%>
      
      <%end%>
      
      <br/><br/>
      </p>
      
      <div id="mykurlresponse">
      
      </div>
      
      <div id="mykurldata">
      
      <div class="span-12 last for-grey" style="text-transform: uppercase; ">
       
              <div class="span-8 ">
                Url
              </div>
              <div class="span-2 last">
              Clicks
              </div>
              
      </div>
      <div id="mykurlcontainer">
      <%for url in @mykurls%>
       <div class="span-12 last url for-grey font-size-large air-15" id="<%=url.id%>">
       
              <div class="span-8" style="font-size:30px;">
                http://myk.is/<%=url.token%>
              </div>
              <div class="span-2 last"style="font-size:30px;">
              
              <%=url.clicks%>
              </div>
             
              
              <div class="span-12 last"><%=url.url%></div>
        </div>
      <%end%>
      </div>
      </div>
      
      
      </div>
      
      <div class="span-12 last air-15">
            <%=image_tag('/images/glacier.jpg',:title=>"The powerful Briksdal Glacier is a part of the Jostedal Glacier National Park in Norway")%>
      </div>
</div>







<%content_for :under_sell do%>

<div class="air-15 readme">
     <p ><strong>Got an suggestion for a climate couse that deserves attention?</strong> Please let us know.  <strong style="color: #8cc63f;">The planet needs your attention.</strong></p>

    
    
</div>   

<%end%>
