<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>myk.is</title>
  
 
  <%=javascript_include_tag :defaults, 'delegate'%>
  <%=javascript_include_tag 'facebox'%>
  <%=stylesheet_link_tag 'main'%>
<%=stylesheet_link_tag 'facebox.css'%> 
  <%=stylesheet_link_tag 'blueprint/src/forms'%>
<%=stylesheet_link_tag 'innocrowd'%>
</head>
<body class="login">

  <p id="backtoblog">
      <%=link_to "Log in", login_path,:title=>"Allready inside? Log in here"%>  
  </p>

<div class="span-24 last">
<%=flash[:error]%>        
<%=flash[:notice]%>        
       </div>
       
<div id="header">
    
   

</div>

<div class="container">
    
    
    <div class="span-24 last air-15">
    <%=yield%>
    </div>
    
    
    

    
</div>



<div id="front_under_sell">
    <div class="container">
        <div class="span-24 last">
            <%=yield(:under_sell)%>
        </div>
    </div>
</div>


<div class="last foot">

	
	        <%=render :partial => 'shared/footer'%>
</div>

</body>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9237661-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</html>
